---
import "../style/global.css";
import BaseLayout from "../layout/BaseLayout.astro";

const pageTitle: string = "About";

interface Iidentify {
  firstName: string;
  country: string;
  occupation: string;
  hobbies: string[];
}

const identity: Iidentify = {
  firstName: "Sarah",
  country: "korea",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills: string[] = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Astro",
  "Writing Docs",
];

const happy = true;
const finished = true;
const goal = 3;
---

<BaseLayout>
  <p>프로덕트 디자인을 하다 현재는 개발을 하고 있습니다.</p>
  <p>개발과 디자인, 비즈니스, 글쓰기에 대한 글을 쓰고 있어요.</p>
  <p>링크드인 | 스레드 | X</p>
</BaseLayout>
