---
import BaseLayout from "../layout/BaseLayout.astro";
import { getPosts } from "../api/getPosts";

const latestPosts = await getPosts();

const pageTitle: string = "All Posts";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="new-post-list">
    <div class="title">
      Latest Posts:
      <ul>
        {
          latestPosts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}`}>{post.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</BaseLayout>

<style>
  .new-post-list {
    margin-top: 40px;
  }

  .title {
    margin-bottom: 20px;
  }

  .title ul {
    list-style-type: none;
    padding: 0;
  }

  .title li {
    margin-bottom: 10px;
  }

  .title a {
    text-decoration: none;
    color: #0070f3;
  }

  .title a:hover {
    text-decoration: underline;
  }
</style>
