---
import BlogPost from "../component/BlogPost.astro";
import BaseLayout from "../layout/MarkdownPostLayout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("post");

const pageTitle: string = "Byungsker - Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/post/${post.slug}`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
