---
import Loading from "@component/Loading.astro";
import BaseLayout from "../layout/BaseLayout.astro";
import Posts from "@component/Posts.jsx";

// export const prerender = false;
---

<BaseLayout>
  <Posts client:load />
  <a href="/post" class="button-all">→ 전체 보기</a>
</BaseLayout>

<style>
  .button-all {
    display: flex;
    margin-top: 24px;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
    width: fit-content;
    color: white;

    &:hover {
      color: white;
      background-color: #525252;
      text-decoration: none;
    }
  }
</style>
