* {
  box-sizing: border-box;
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100dvh;
  line-height: 1.5;

  margin: 0;
}

label {
  color: #121212;
}

button {
  cursor: pointer;
}

code {
  line-height: normal;
  background: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  border-radius: 4px;
  font-size: 85%;
  padding: 0.2em 0.4em;
}

.layout-body {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 64px;
}

a {
  text-decoration-line: none;
  color: #6740d4;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* Dark 테마를 디폴트로 */
/* html.dark { */
html {
  background-color: #191919;
  color: #fff;

  .nav-links {
    a {
      color: #a78af9;

      span {
        color: #ffffff;
      }

      &:hover span {
        color: #6740d4; /* label의 색상 변경 */
      }
    }

    li {
      color: white;
    }
  }
}
/* 
@media (min-width: 637px) and (max-width: 1023px) {
  .layout-body {
    width: 100%;
    padding: 0 24px;
    padding-top: 64px;
  }
} */

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;

    a {
      display: inline-block;
      padding: 15px 20px;
    }
  }
}

@media (max-width: 1023px) {
  .layout-body {
    width: 100%;
    padding: 0 24px;
    padding-top: 64px;
  }
}
