h1 {
  font-size: 2.5rem;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
h2 {
  font-size: 2rem;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
h3 {
  font-size: 1.5rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
h4 {
  font-size: 1.125rem;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
h5 {
  font-size: 0.83em;
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
h6 {
  display: block;
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

p {
  margin: 18px 0;
  font-size: 1.125rem;
  transition: color 0.125s ease-in;
  line-height: 1.7;
  letter-spacing: -0.004em;
  word-break: keep-all;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

blockquote {
  border-left: 2px solid #ffffff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #1e1e1e;
  padding: 1rem 1rem 1rem 2rem;
  color: #ececec;
  display: flex;
  white-space: pre-wrap;

  p {
    margin: 0;
  }
}

code {
  line-height: normal;
  background-color: #242424;
  color: #eb5757;
  border-radius: 8px;
  font-size: 16px;
  padding: 4px;
}

a {
  text-decoration-line: none;
  color: #8b68ec;
  &:hover {
    text-decoration: underline;
  }
}

html {
  background-color: #191919;
}
* {
  box-sizing: border-box;
  color: #ffffff;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.editor {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.form {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 1 0%;
  border-right: 1px solid #424242;
  padding-bottom: 80px;
  background-color: #242424;
}

.button-nav {
  background-color: #363636;
  box-shadow: 0 -4px 24px rgba(0, 0, 0, 0.04);
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 24px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 222;

  .btn-previous {
    display: flex;
    background-color: transparent;
    padding: 0 12px;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    gap: 8px;
    cursor: pointer;

    span {
      margin-top: 4px;
    }

    &:hover {
      background-color: #5a5a5a;
    }
  }

  .btn-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .btn-primary {
    display: flex;
    background-color: #2d97d9;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: rgb(41, 135, 194);
    }
  }
  .btn-sub {
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: #5a5a5a;
    }
  }
}

.title {
  padding: 40px 24px 24px 40px;
}

input {
  border: none;
  resize: none;
  outline: none;
  background-color: #242424;

  padding: 24px 24px 24px 40px;

  &::placeholder {
    color: #a2a2a2;
    opacity: 0.7;
  }
}

.slug {
  font-size: 16px;
}

.title {
  font-weight: 700;
  font-size: 40px;
}

.tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 24px 24px 24px 40px;

  .tag {
    font-size: 16px;
    display: flex;
    gap: 4px;
    align-items: center;
    border-radius: 100px;
    padding: 8px;
    padding-left: 12px;
    background-color: #525252;
    color: #fcfcfc;
    cursor: pointer;

    &:hover {
      background-color: #626262;
    }
  }

  .input {
    font-size: 16px;
    padding: 0;
  }
}

#textarea {
  height: 100%;
  border: none;
  resize: none;
  outline: none;
  background-color: #242424;
  font-size: 16px;
  font-family: "Monaco", courier, monospace;
  padding: 24px 24px 24px 40px;

  &::placeholder {
    color: #a2a2a2;
    opacity: 0.7;
  }
}

.preview {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  padding: 40px 40px 80px 40px;
  box-sizing: border-box;
  overflow: auto;
}

#title {
  font-size: 32px;
  font-weight: 700;
}
