---
import BaseLayout from "../../layout/BaseLayout.astro";
import { getPosts } from "../../api/getPosts";
import { getTags } from "../../api/getTags";

export const getStaticPaths = async () => {
  const uniqueTags = await getTags();

  return uniqueTags.map((tag: string) => ({
    params: { tag },
  }));
};

const { tag } = Astro.params;

const allPosts = await getPosts();
const filteredPosts = allPosts.filter((post) => post.tags?.includes(tag));

const pageTitle = `Tag > ${tag} `;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tag-wrapper">
    {
      filteredPosts.length > 0 ? (
        <ul>
          {filteredPosts.map((post) => (
            <li>
              <a href={`/blog/${post.id}`}>{post.title}</a>
            </li>
          ))}
        </ul>
      ) : (
        <p>No posts found with this tag.</p>
      )
    }
  </div>
</BaseLayout>

<style>
  .tag-wrapper {
    max-width: 800px;

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-bottom: 10px;
    }

    a {
      text-decoration: none;
      color: #2d97d9;

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
