---
import { GET } from "../api/tags/[tag]";

import BaseLayout from "../../layout/BaseLayout.astro";

export const prerender = false;

const response = await GET(Astro);
const { fillterdPosts } = await response.json();

if (!response.ok) {
  const errorText = await response.text();
  console.error("Fetch error:", errorText);
  throw new Error("Failed to fetch post");
}

if (!fillterdPosts) {
  throw new Error("Post not found");
}

const tag = Astro.params.tag;

const pageTitle = `Tag > ${tag} `;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tag-wrapper">
    {
      fillterdPosts.length > 0 ? (
        <ul>
          {fillterdPosts.map((post: any) => (
            <li>
              <a href={`/blog/${post.id}`}>{post.title}</a>
            </li>
          ))}
        </ul>
      ) : (
        <p>No posts found with this tag.</p>
      )
    }
  </div>
</BaseLayout>
<style>
  .tag-wrapper {
    max-width: 800px;

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-bottom: 10px;
    }

    a {
      text-decoration: none;
      color: #2d97d9;

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
