---
import { GET } from "../api/tags";

import BaseLayout from "../../layout/BaseLayout.astro";

import Tags from "../../component/Tags.astro";
import Loading from "../../component/Loading.astro";

let tags = [];
let errorMessage: string | null = null;

try {
  const response = await GET();

  if (!response.ok) {
    throw new Error(`Failed to fetch posts: ${response.status}`);
  }

  const data = await response.json();
  tags = data.tags;
} catch (error) {
  console.error(error);
  errorMessage = "Failed to load posts. Please try again later.";
}

const pageTitle: string = "Tags";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tag-wrapper">
    <Tags server:defer {tags}>
      <Loading slot="fallback" />
    </Tags>
  </div>
</BaseLayout>

<style></style>
