---
import "./Social.astro";
// import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <!-- <Social platform="Twitter" username="byungsker" />
  <Social platform="Github" username="lbo728" />
  <Social platform="Linkedin" username="in/byungwoo-lee-98a253200/" /> -->
  <div class="footer">
    <div class="copy">© 2024 Byungsker. All Rights Reserved.</div>
    <div class="sns-wrap">
      <a href="https://www.linkedin.com/in/byungwoo-lee-98a253200/">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.393 19.3934H16.2815V14.5204C16.2815 13.3584 16.2607 11.8626 14.6631 11.8626C13.0425 11.8626 12.7946 13.1286 12.7946 14.4358V19.3931H9.68302V9.37228H12.6701V10.7417H12.7119C13.0109 10.2306 13.4428 9.81011 13.9618 9.52505C14.4808 9.24 15.0674 9.10106 15.6592 9.12303C18.8128 9.12303 19.3943 11.1975 19.3943 13.8962L19.393 19.3934ZM6.17217 8.00251C5.81505 8.00257 5.46591 7.89673 5.16893 7.69837C4.87196 7.50001 4.64049 7.21803 4.50376 6.8881C4.36704 6.55817 4.3312 6.19511 4.40081 5.84482C4.47042 5.49453 4.64234 5.17275 4.89483 4.92017C5.14731 4.66759 5.46902 4.49555 5.81927 4.42581C6.16952 4.35607 6.53258 4.39177 6.86255 4.52838C7.19252 4.66499 7.47456 4.89639 7.67303 5.1933C7.87149 5.49022 7.97746 5.83932 7.97752 6.19646C7.97756 6.43359 7.93089 6.66841 7.84019 6.8875C7.74948 7.1066 7.61653 7.30569 7.44889 7.47339C7.28125 7.6411 7.0822 7.77414 6.86314 7.86493C6.64408 7.95572 6.4093 8.00247 6.17217 8.00251ZM7.72794 19.3934H4.61316V9.37228H7.72794V19.3934ZM20.9442 1.50143H3.04962C2.64346 1.49685 2.25208 1.65371 1.96151 1.93754C1.67094 2.22137 1.50496 2.60895 1.5 3.01512V20.9846C1.50479 21.3909 1.67067 21.7788 1.96123 22.0629C2.25179 22.347 2.64326 22.5042 3.04962 22.4999H20.9442C21.3514 22.505 21.744 22.3483 22.0357 22.0641C22.3274 21.78 22.4944 21.3917 22.5 20.9846V3.01382C22.4942 2.60685 22.3271 2.21883 22.0354 1.935C21.7436 1.65118 21.3512 1.49477 20.9442 1.50013"
            fill="#525252"></path>
        </svg>
      </a>
      <a href="https://github.com/lbo728">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.7785 1.5C5.83344 1.5 1.01263 6.31991 1.01263 12.2658C1.01263 17.0225 4.09737 21.0579 8.37497 22.4815C8.91301 22.5812 9.11054 22.248 9.11054 21.9636C9.11054 21.7069 9.10056 20.8588 9.09592 19.9592C6.10086 20.6105 5.46886 18.689 5.46886 18.689C4.97913 17.4446 4.27351 17.1137 4.27351 17.1137C3.29673 16.4455 4.34714 16.4593 4.34714 16.4593C5.42822 16.5352 5.99746 17.5687 5.99746 17.5687C6.95766 19.2146 8.51598 18.7387 9.13033 18.4637C9.22696 17.7678 9.50596 17.2929 9.81385 17.0241C7.42261 16.7518 4.90889 15.8287 4.90889 11.7035C4.90889 10.5282 5.32945 9.56778 6.01814 8.81384C5.90636 8.54268 5.53786 7.4477 6.12243 5.96479C6.12243 5.96479 7.02647 5.67544 9.0838 7.06832C9.94256 6.82979 10.8635 6.71016 11.7785 6.70606C12.6934 6.71016 13.6151 6.82979 14.4755 7.06832C16.5303 5.67544 17.4331 5.96479 17.4331 5.96479C18.0191 7.4477 17.6504 8.54268 17.5386 8.81384C18.2289 9.56778 18.6466 10.5282 18.6466 11.7035C18.6466 15.8385 16.1281 16.749 13.7308 17.0155C14.1169 17.3496 14.461 18.0048 14.461 19.0092C14.461 20.4497 14.4485 21.609 14.4485 21.9636C14.4485 22.2501 14.6423 22.5858 15.188 22.4801C19.4633 21.0549 22.5441 17.0209 22.5441 12.2658C22.5441 6.31991 17.724 1.5 11.7785 1.5ZM5.04479 16.8362C5.02108 16.8896 4.93693 16.9057 4.86027 16.869C4.78219 16.8338 4.73833 16.7609 4.76364 16.7073C4.78682 16.6522 4.87115 16.6368 4.94905 16.6737C5.02732 16.7089 5.07189 16.7825 5.04479 16.8362ZM5.57435 17.3087C5.523 17.3563 5.42263 17.3342 5.35453 17.2589C5.28411 17.1839 5.27092 17.0835 5.32298 17.0352C5.37592 16.9876 5.47326 17.0099 5.54386 17.0849C5.61428 17.1609 5.62801 17.2605 5.57435 17.3087ZM5.93765 17.9132C5.87168 17.9591 5.76382 17.9161 5.69715 17.8204C5.63119 17.7246 5.63119 17.6098 5.69857 17.5638C5.76543 17.5178 5.87168 17.5592 5.93925 17.6542C6.00503 17.7515 6.00503 17.8664 5.93765 17.9132ZM6.55206 18.6134C6.49305 18.6785 6.36736 18.661 6.27537 18.5722C6.18124 18.4854 6.15504 18.3622 6.21422 18.2972C6.27395 18.2319 6.40035 18.2503 6.49305 18.3383C6.58647 18.425 6.61499 18.5491 6.55206 18.6134ZM7.34613 18.8498C7.3201 18.9341 7.19905 18.9725 7.07711 18.9366C6.95535 18.8997 6.87566 18.8009 6.90026 18.7157C6.92557 18.6309 7.04716 18.5909 7.16999 18.6293C7.29158 18.666 7.37145 18.764 7.34613 18.8498ZM8.24982 18.9501C8.25285 19.0388 8.14945 19.1125 8.02144 19.1141C7.89273 19.1169 7.78861 19.0451 7.78719 18.9577C7.78719 18.8681 7.88827 18.7951 8.01699 18.793C8.14499 18.7905 8.24982 18.8618 8.24982 18.9501ZM9.13759 18.916C9.15292 19.0027 9.06396 19.0916 8.93685 19.1153C8.81187 19.1382 8.69617 19.0847 8.6803 18.9987C8.66479 18.91 8.75536 18.821 8.88015 18.798C9.00744 18.7759 9.12136 18.828 9.13759 18.916Z"
            fill="#525252"></path>
        </svg>
      </a>
      <a href="https://twitter.com/byungsker">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_1_24)">
            <path
              d="M18.998 1.5H22.5843L14.751 10.4133L24 22.5H16.7329L11.0703 15.1733L4.55823 22.5H0.971888L9.37149 12.98L0.5 1.5H7.95582L13.0994 8.22L18.998 1.5ZM17.7239 20.3533H19.7058L6.87048 3.50667H4.6998L17.7239 20.3533Z"
              fill="#525252"></path>
          </g>
          <defs>
            <clipPath id="clip0_1_24">
              <rect
                width="23.5"
                height="21"
                fill="white"
                transform="translate(0.5 1.5)"></rect>
            </clipPath>
          </defs>
        </svg>
      </a>
    </div>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }

  .copy {
    font-size: 14px;
    color: #525252;
  }
  .sns-wrap {
    display: flex;
    gap: 16px;
  }
</style>
