---
import LinkedinIcon from "./Icon/LinkedinIcon.astro";
import GithubIcon from "./Icon/GithubIcon.astro";
import XIcon from "./Icon/XIcon.astro";
import socialLinks from "../data/socialLinks.ts";
---

<footer>
  <div class="footer">
    <div class="copy">© 2025 Byungsker. All Rights Reserved.</div>
    <div class="sns-wrap">
      <a href={socialLinks.linkedin} target="_blank">
        <LinkedinIcon />
      </a>
      <a href={socialLinks.github} target="_blank">
        <GithubIcon />
      </a>
      <a href={socialLinks.x} target="_blank">
        <XIcon />
      </a>
    </div>
  </div>
</footer>

<style>
  footer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    margin-top: 32px;
  }
  .footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }

  .copy {
    font-size: 14px;
    color: #525252;
  }
  .sns-wrap {
    display: flex;
    gap: 16px;
    align-items: center;

    a {
      display: flex;
      align-items: center;
    }
  }

  @media screen and (max-width: 1023px) {
    footer {
      padding: 0 24px;
    }
  }
</style>
