---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav>
    <div class="nav-bar">
      <Hamburger />

      <div class="logo">
        <a href="/">
          <svg
            width="115"
            height="21"
            viewBox="0 0 115 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M109.971 9.89311C110.492 8.96659 110.753 8.03282 110.753 7.09182C110.753 6.46931 110.528 6.15805 110.08 6.15805C109.732 6.15805 109.377 6.45483 109.015 7.04839C108.639 7.64194 108.393 8.32236 108.277 9.08964L107.148 15.9952L102.653 16.4295L104.868 4.92027L108.451 4.48596L108.06 6.67922C108.769 5.21705 109.92 4.48596 111.513 4.48596C112.352 4.48596 112.997 4.70312 113.445 5.13743C113.909 5.57174 114.14 6.23768 114.14 7.13525C114.14 8.01835 113.844 8.74219 113.25 9.3068C112.671 9.8714 111.882 10.1537 110.883 10.1537C110.449 10.1537 110.145 10.0668 109.971 9.89311Z"
              fill="#121212"></path>
            <path
              d="M100.411 12.3252C100.773 12.5714 100.954 12.9695 100.954 13.5196C100.954 14.0552 100.817 14.4968 100.541 14.8442C100.266 15.1917 99.9045 15.4812 99.4557 15.7129C98.5292 16.1906 97.5665 16.4295 96.5676 16.4295C95.5686 16.4295 94.7724 16.3209 94.1789 16.1037C93.5998 15.8866 93.1148 15.5753 92.7239 15.17C91.9566 14.4027 91.573 13.3169 91.573 11.9127C91.573 9.72663 92.1666 7.96768 93.3537 6.63579C94.6276 5.20257 96.3721 4.48596 98.5871 4.48596C99.9624 4.48596 100.99 4.7755 101.671 5.35458C102.177 5.78889 102.431 6.36073 102.431 7.0701C102.431 9.61805 100.23 10.892 95.8292 10.892C95.7713 11.2684 95.7424 11.6159 95.7424 11.9344C95.7424 12.6003 95.8871 13.0636 96.1767 13.3242C96.4807 13.5703 96.9078 13.6933 97.4579 13.6933C98.008 13.6933 98.5726 13.5703 99.1517 13.3242C99.7453 13.0636 100.165 12.7306 100.411 12.3252ZM95.9812 9.95826C97.0091 9.95826 97.8198 9.63977 98.4134 9.00278C99.0069 8.39475 99.3037 7.60575 99.3037 6.63579C99.3037 6.30282 99.2386 6.04948 99.1083 5.87575C98.9925 5.68755 98.8115 5.59345 98.5654 5.59345C98.3193 5.59345 98.0876 5.64412 97.8705 5.74546C97.6678 5.83232 97.4579 6.035 97.2407 6.35349C96.7051 7.07734 96.2853 8.27893 95.9812 9.95826Z"
              fill="#121212"></path>
            <path
              d="M84.1134 5.70199C84.8951 4.89128 86.1112 4.48592 87.7616 4.48592C88.6736 4.48592 89.3758 4.73203 89.868 5.22425C90.3747 5.70199 90.628 6.38965 90.628 7.28722C90.628 8.17032 90.3747 8.93036 89.868 9.56734C89.3758 10.1899 88.6664 10.6314 87.7399 10.892C87.8122 11.1815 87.8991 11.4783 88.0004 11.7823L88.3045 12.6509C88.5795 13.3893 88.8256 13.8887 89.0428 14.1493C89.2599 14.4099 89.5133 14.5836 89.8028 14.6705C89.6436 15.264 89.2744 15.7201 88.6953 16.0386C88.2321 16.2991 87.682 16.4294 87.045 16.4294C85.1774 16.4294 84.1206 14.989 83.8745 12.1081C83.8311 11.7027 83.8094 11.2973 83.8094 10.892C84.5332 10.6893 85.1485 10.2478 85.6552 9.56734C86.1619 8.88693 86.4152 8.1486 86.4152 7.35237C86.4152 6.55613 86.1329 6.15802 85.5683 6.15802C85.163 6.15802 84.801 6.38241 84.4825 6.8312C84.164 7.27998 83.9324 7.88801 83.7876 8.65529L82.3544 15.9951L77.9679 16.4294L81.0081 0.794294L85.3729 0.359985L84.8734 2.94413C84.6563 4.16019 84.4029 5.07948 84.1134 5.70199Z"
              fill="#121212"></path>
            <path
              d="M74.4428 8.37303C74.6455 7.83738 74.7468 7.33793 74.7468 6.87466C74.7468 6.02052 74.3994 5.59345 73.7045 5.59345C73.3426 5.59345 73.0096 5.75994 72.7056 6.09291C72.416 6.4114 72.2713 6.77333 72.2713 7.17868C72.2713 7.46822 72.3871 7.72881 72.6187 7.96044C72.9517 8.27893 73.5452 8.69876 74.3994 9.21993C75.2535 9.74111 75.8398 10.2188 76.1583 10.6532C76.4913 11.073 76.6578 11.5797 76.6578 12.1732C76.6578 12.7523 76.513 13.3097 76.2235 13.8453C75.9484 14.381 75.5575 14.837 75.0508 15.2134C73.9651 16.0241 72.5536 16.4295 70.8163 16.4295C69.8753 16.4295 69.0429 16.1834 68.3191 15.6911C67.5952 15.2134 67.2333 14.6922 67.2333 14.1276C67.2333 13.563 67.436 13.1142 67.8413 12.7813C68.2611 12.4483 68.7751 12.2818 69.3831 12.2818C69.9911 12.2818 70.4834 12.3976 70.8598 12.6293C70.6716 13.107 70.5775 13.5051 70.5775 13.8236C70.5775 14.7791 70.9828 15.2568 71.7935 15.2568C72.141 15.2568 72.4305 15.1483 72.6621 14.9311C72.8938 14.7139 73.0096 14.4172 73.0096 14.0408C73.0096 13.3024 72.3871 12.5424 71.1421 11.7606C70.1287 11.0947 69.5062 10.6314 69.2745 10.3709C68.8837 9.90759 68.6882 9.38642 68.6882 8.80734C68.6882 8.22826 68.8257 7.66366 69.1008 7.11353C69.3759 6.56341 69.7667 6.09291 70.2734 5.70203C71.3303 4.89132 72.778 4.48596 74.6165 4.48596C75.5575 4.48596 76.3031 4.67416 76.8532 5.05056C77.4178 5.42697 77.7001 5.93366 77.7001 6.57065C77.7001 7.20763 77.5047 7.70709 77.1138 8.06901C76.7374 8.43094 76.2018 8.6119 75.5069 8.6119C75.0291 8.6119 74.6744 8.53228 74.4428 8.37303Z"
              fill="#121212"></path>
            <path
              d="M56.4921 6.91809C56.9843 6.2232 57.5996 5.64412 58.3379 5.18086C59.0907 4.71759 59.9232 4.48596 60.8352 4.48596C61.7473 4.48596 62.4204 4.63073 62.8548 4.92027L67.111 4.48596L65.6343 12.8247C65.1276 15.6622 64.3386 17.6383 63.2673 18.753C62.2395 19.8098 60.7266 20.3383 58.7288 20.3383C57.2087 20.3383 56.0144 20.0994 55.1458 19.6216C54.2771 19.1439 53.8428 18.5069 53.8428 17.7107C53.8428 17.1171 54.0672 16.6466 54.516 16.2992C54.9648 15.9662 55.5366 15.7997 56.2315 15.7997C56.8396 15.7997 57.3752 15.9373 57.8385 16.2123C58.1135 16.3571 58.3162 16.5308 58.4465 16.7335C58.1135 17.023 57.9471 17.4067 57.9471 17.8844C57.9471 18.5069 58.2366 18.8182 58.8157 18.8182C59.7856 18.8182 60.5457 17.6745 61.0958 15.3871C61.255 14.7646 61.3998 14.1421 61.5301 13.5196C60.8786 14.3158 59.8146 14.7139 58.3379 14.7139C57.3101 14.7139 56.4994 14.4678 55.9058 13.9756C55.3123 13.4834 55.0155 12.6582 55.0155 11.5001C55.0155 10.7762 55.1385 10.0089 55.3846 9.19822C55.6307 8.37303 55.9999 7.61299 56.4921 6.91809ZM59.3151 11.5652C59.3151 12.5496 59.5685 13.0419 60.0752 13.0419C60.4226 13.0419 60.7628 12.8537 61.0958 12.4773C61.3564 12.1732 61.5374 11.7968 61.6387 11.3481L62.7462 5.76717C62.6738 5.7527 62.6014 5.73098 62.529 5.70203C62.3843 5.64412 62.2178 5.61517 62.0296 5.61517C61.1465 5.61517 60.4443 6.33902 59.9232 7.78671C59.5178 8.91592 59.3151 10.1754 59.3151 11.5652Z"
              fill="#121212"></path>
            <path
              d="M50.5214 16.4295C48.7697 16.4295 47.8938 15.7491 47.8938 14.3882C47.9083 14.0118 47.9734 13.5051 48.0892 12.8681L48.4801 10.8703C48.871 8.9883 49.0664 7.83738 49.0664 7.41755C49.0664 6.57789 48.8203 6.15805 48.3281 6.15805C47.5029 6.15805 46.8732 7.23659 46.4389 9.39366L45.1577 15.9952L40.7928 16.4295L43.0513 4.89856L46.6126 4.48596L46.2651 6.61408C46.9456 5.19533 48.3281 4.48596 50.4128 4.48596C51.4262 4.48596 52.1428 4.70312 52.5626 5.13743C52.9969 5.55726 53.2141 6.24491 53.2141 7.2004C53.2141 8.09797 52.9825 9.59634 52.5192 11.6955C52.302 12.6365 52.1935 13.288 52.1935 13.6499C52.1935 13.9973 52.2876 14.2724 52.4758 14.4751C52.6784 14.6778 52.9246 14.7936 53.2141 14.8225C53.0693 15.3147 52.7436 15.7056 52.2369 15.9952C51.7447 16.2847 51.1728 16.4295 50.5214 16.4295Z"
              fill="#121212"></path>
            <path
              d="M34.5223 15.0831C33.8274 15.9807 32.6185 16.4295 30.8958 16.4295C29.9982 16.4295 29.2237 16.1616 28.5722 15.626C27.9208 15.0759 27.595 14.4099 27.595 13.6282C27.595 13.1939 27.6167 12.8681 27.6602 12.651L29.1151 4.92027L33.5234 4.48596L31.9381 12.8681C31.8802 13.1866 31.8513 13.44 31.8513 13.6282C31.8513 14.4678 32.1046 14.8877 32.6113 14.8877C33.1759 14.8877 33.6609 14.504 34.0662 13.7368C34.1965 13.4906 34.2906 13.2083 34.3485 12.8898L35.8903 4.92027L40.1683 4.48596L38.5613 12.955C38.5179 13.1721 38.4962 13.3965 38.4962 13.6282C38.4962 13.8598 38.5613 14.1059 38.6916 14.3665C38.8219 14.6126 39.097 14.7646 39.5168 14.8225C39.43 15.17 39.2345 15.4595 38.9305 15.6911C38.2935 16.1834 37.6276 16.4295 36.9327 16.4295C36.2523 16.4295 35.7094 16.3064 35.304 16.0603C34.8987 15.8142 34.6381 15.4885 34.5223 15.0831Z"
              fill="#121212"></path>
            <path
              d="M21.0333 13.5413C20.2805 14.3231 19.2164 14.7139 17.8411 14.7139C16.1184 14.7139 15.076 14.0842 14.7141 12.8247C14.5983 12.4483 14.5404 12.0502 14.5404 11.6304C14.5404 11.2105 14.5838 10.7834 14.6707 10.3491L15.6913 4.92027L20.0995 4.48596L18.9052 10.8052C18.8762 10.9934 18.84 11.1888 18.7966 11.3915C18.7532 11.5942 18.7314 11.8041 18.7314 12.0212C18.7314 12.2239 18.7676 12.3976 18.84 12.5424C18.9124 12.6727 18.9993 12.7813 19.1006 12.8681C19.2743 12.984 19.5132 13.0419 19.8172 13.0419C20.1357 13.0419 20.4253 12.8537 20.6858 12.4773C20.9609 12.1009 21.1636 11.5869 21.2939 10.9355L22.4882 4.92027L26.7662 4.48596L25.1375 13.0201C24.6019 15.7997 23.7839 17.7396 22.6837 18.8399C22.1191 19.4045 21.4676 19.7954 20.7293 20.0125C20.0054 20.2442 19.173 20.36 18.232 20.36C16.7119 20.36 15.5176 20.1211 14.6489 19.6434C13.7803 19.1656 13.346 18.5286 13.346 17.7324C13.346 17.1388 13.5704 16.6683 14.0192 16.3209C14.468 15.9879 15.0398 15.8214 15.7347 15.8214C16.3427 15.8214 16.8784 15.9517 17.3417 16.2123C17.6167 16.3716 17.8194 16.5525 17.9497 16.7552C17.6167 17.0447 17.4502 17.4284 17.4502 17.9061C17.4502 18.5431 17.7398 18.8616 18.3189 18.8616C19.2743 18.8616 20.0271 17.7614 20.5773 15.5609C20.7365 14.9094 20.8885 14.2362 21.0333 13.5413Z"
              fill="#121212"></path>
            <path
              d="M0.0839844 15.8866L2.82013 1.66296C4.52842 1.51819 5.93268 1.4458 7.03293 1.4458C8.13319 1.4458 9.038 1.49647 9.74737 1.59781C10.4567 1.68467 11.0503 1.85116 11.528 2.09726C12.4835 2.56053 12.9613 3.42915 12.9613 4.70312C12.9613 5.44145 12.6428 6.12186 12.0058 6.74437C11.4122 7.30898 10.7897 7.65642 10.1382 7.78672C10.8331 7.90253 11.4267 8.22103 11.9189 8.7422C12.4401 9.29232 12.7007 9.99446 12.7007 10.8486C12.7007 12.499 12.0854 13.8091 10.8549 14.7791C9.62431 15.7346 7.80021 16.2123 5.38256 16.2123C3.71771 16.2123 1.95151 16.1037 0.0839844 15.8866ZM4.90482 14.6271C5.03511 14.6416 5.11473 14.6488 5.14369 14.6488H5.33913C6.52624 14.6488 7.37314 14.2579 7.87984 13.4762C8.25624 12.8681 8.44444 12.0068 8.44444 10.892C8.44444 10.2985 8.249 9.84245 7.85812 9.52395C7.48172 9.20546 6.85921 9.03174 5.99059 9.00278L4.90482 14.6271ZM9.29134 4.72484C9.29134 3.52325 8.71226 2.92245 7.55411 2.92245H7.35867C7.30076 2.92245 7.22837 2.92969 7.14151 2.94417L6.27289 7.52613H6.49005C8.35758 7.4827 9.29134 6.54894 9.29134 4.72484Z"
              fill="#121212"></path>
          </svg>
        </a>
      </div>
      <div class="logo-dark">
        <a href="/">
          <svg
            width="115"
            height="21"
            viewBox="0 0 115 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M109.971 9.89311C110.492 8.96659 110.753 8.03282 110.753 7.09182C110.753 6.46931 110.528 6.15805 110.08 6.15805C109.732 6.15805 109.377 6.45483 109.015 7.04839C108.639 7.64194 108.393 8.32236 108.277 9.08964L107.148 15.9952L102.653 16.4295L104.868 4.92027L108.451 4.48596L108.06 6.67922C108.769 5.21705 109.92 4.48596 111.513 4.48596C112.352 4.48596 112.997 4.70312 113.445 5.13743C113.909 5.57174 114.14 6.23768 114.14 7.13525C114.14 8.01835 113.844 8.74219 113.25 9.3068C112.671 9.8714 111.882 10.1537 110.883 10.1537C110.449 10.1537 110.145 10.0668 109.971 9.89311Z"
              fill="white"></path>
            <path
              d="M100.411 12.3252C100.773 12.5714 100.954 12.9695 100.954 13.5196C100.954 14.0552 100.817 14.4968 100.541 14.8442C100.266 15.1917 99.9045 15.4812 99.4557 15.7129C98.5292 16.1906 97.5665 16.4295 96.5676 16.4295C95.5686 16.4295 94.7724 16.3209 94.1789 16.1037C93.5998 15.8866 93.1148 15.5753 92.7239 15.17C91.9566 14.4027 91.573 13.3169 91.573 11.9127C91.573 9.72663 92.1666 7.96768 93.3537 6.63579C94.6276 5.20257 96.3721 4.48596 98.5871 4.48596C99.9624 4.48596 100.99 4.7755 101.671 5.35458C102.177 5.78889 102.431 6.36073 102.431 7.0701C102.431 9.61805 100.23 10.892 95.8292 10.892C95.7713 11.2684 95.7424 11.6159 95.7424 11.9344C95.7424 12.6003 95.8871 13.0636 96.1767 13.3242C96.4807 13.5703 96.9078 13.6933 97.4579 13.6933C98.008 13.6933 98.5726 13.5703 99.1517 13.3242C99.7453 13.0636 100.165 12.7306 100.411 12.3252ZM95.9812 9.95826C97.0091 9.95826 97.8198 9.63977 98.4134 9.00278C99.0069 8.39475 99.3037 7.60575 99.3037 6.63579C99.3037 6.30282 99.2386 6.04948 99.1083 5.87575C98.9925 5.68755 98.8115 5.59345 98.5654 5.59345C98.3193 5.59345 98.0876 5.64412 97.8705 5.74546C97.6678 5.83232 97.4579 6.035 97.2407 6.35349C96.7051 7.07734 96.2853 8.27893 95.9812 9.95826Z"
              fill="white"></path>
            <path
              d="M84.1134 5.70199C84.8951 4.89128 86.1112 4.48592 87.7616 4.48592C88.6736 4.48592 89.3758 4.73203 89.868 5.22425C90.3747 5.70199 90.628 6.38965 90.628 7.28722C90.628 8.17032 90.3747 8.93036 89.868 9.56734C89.3758 10.1899 88.6664 10.6314 87.7399 10.892C87.8122 11.1815 87.8991 11.4783 88.0004 11.7823L88.3045 12.6509C88.5795 13.3893 88.8256 13.8887 89.0428 14.1493C89.2599 14.4099 89.5133 14.5836 89.8028 14.6705C89.6436 15.264 89.2744 15.7201 88.6953 16.0386C88.2321 16.2991 87.682 16.4294 87.045 16.4294C85.1774 16.4294 84.1206 14.989 83.8745 12.1081C83.8311 11.7027 83.8094 11.2973 83.8094 10.892C84.5332 10.6893 85.1485 10.2478 85.6552 9.56734C86.1619 8.88693 86.4152 8.1486 86.4152 7.35237C86.4152 6.55613 86.1329 6.15802 85.5683 6.15802C85.163 6.15802 84.801 6.38241 84.4825 6.8312C84.164 7.27998 83.9324 7.88801 83.7876 8.65529L82.3544 15.9951L77.9679 16.4294L81.0081 0.794294L85.3729 0.359985L84.8734 2.94413C84.6563 4.16019 84.4029 5.07948 84.1134 5.70199Z"
              fill="white"></path>
            <path
              d="M74.4428 8.37303C74.6455 7.83738 74.7468 7.33793 74.7468 6.87466C74.7468 6.02052 74.3994 5.59345 73.7045 5.59345C73.3426 5.59345 73.0096 5.75994 72.7056 6.09291C72.416 6.4114 72.2713 6.77333 72.2713 7.17868C72.2713 7.46822 72.3871 7.72881 72.6187 7.96044C72.9517 8.27893 73.5452 8.69876 74.3994 9.21993C75.2535 9.74111 75.8398 10.2188 76.1583 10.6532C76.4913 11.073 76.6578 11.5797 76.6578 12.1732C76.6578 12.7523 76.513 13.3097 76.2235 13.8453C75.9484 14.381 75.5575 14.837 75.0508 15.2134C73.9651 16.0241 72.5536 16.4295 70.8163 16.4295C69.8753 16.4295 69.0429 16.1834 68.3191 15.6911C67.5952 15.2134 67.2333 14.6922 67.2333 14.1276C67.2333 13.563 67.436 13.1142 67.8413 12.7813C68.2611 12.4483 68.7751 12.2818 69.3831 12.2818C69.9911 12.2818 70.4834 12.3976 70.8598 12.6293C70.6716 13.107 70.5775 13.5051 70.5775 13.8236C70.5775 14.7791 70.9828 15.2568 71.7935 15.2568C72.141 15.2568 72.4305 15.1483 72.6621 14.9311C72.8938 14.7139 73.0096 14.4172 73.0096 14.0408C73.0096 13.3024 72.3871 12.5424 71.1421 11.7606C70.1287 11.0947 69.5062 10.6314 69.2745 10.3709C68.8837 9.90759 68.6882 9.38642 68.6882 8.80734C68.6882 8.22826 68.8257 7.66366 69.1008 7.11353C69.3759 6.56341 69.7667 6.09291 70.2734 5.70203C71.3303 4.89132 72.778 4.48596 74.6165 4.48596C75.5575 4.48596 76.3031 4.67416 76.8532 5.05056C77.4178 5.42697 77.7001 5.93366 77.7001 6.57065C77.7001 7.20763 77.5047 7.70709 77.1138 8.06901C76.7374 8.43094 76.2018 8.6119 75.5069 8.6119C75.0291 8.6119 74.6744 8.53228 74.4428 8.37303Z"
              fill="white"></path>
            <path
              d="M56.4921 6.91809C56.9843 6.2232 57.5996 5.64412 58.3379 5.18086C59.0907 4.71759 59.9232 4.48596 60.8352 4.48596C61.7473 4.48596 62.4204 4.63073 62.8548 4.92027L67.111 4.48596L65.6343 12.8247C65.1276 15.6622 64.3386 17.6383 63.2673 18.753C62.2395 19.8098 60.7266 20.3383 58.7288 20.3383C57.2087 20.3383 56.0144 20.0994 55.1458 19.6216C54.2771 19.1439 53.8428 18.5069 53.8428 17.7107C53.8428 17.1171 54.0672 16.6466 54.516 16.2992C54.9648 15.9662 55.5366 15.7997 56.2315 15.7997C56.8396 15.7997 57.3752 15.9373 57.8385 16.2123C58.1135 16.3571 58.3162 16.5308 58.4465 16.7335C58.1135 17.023 57.9471 17.4067 57.9471 17.8844C57.9471 18.5069 58.2366 18.8182 58.8157 18.8182C59.7856 18.8182 60.5457 17.6745 61.0958 15.3871C61.255 14.7646 61.3998 14.1421 61.5301 13.5196C60.8786 14.3158 59.8146 14.7139 58.3379 14.7139C57.3101 14.7139 56.4994 14.4678 55.9058 13.9756C55.3123 13.4834 55.0155 12.6582 55.0155 11.5001C55.0155 10.7762 55.1385 10.0089 55.3846 9.19822C55.6307 8.37303 55.9999 7.61299 56.4921 6.91809ZM59.3151 11.5652C59.3151 12.5496 59.5685 13.0419 60.0752 13.0419C60.4226 13.0419 60.7628 12.8537 61.0958 12.4773C61.3564 12.1732 61.5374 11.7968 61.6387 11.3481L62.7462 5.76717C62.6738 5.7527 62.6014 5.73098 62.529 5.70203C62.3843 5.64412 62.2178 5.61517 62.0296 5.61517C61.1465 5.61517 60.4443 6.33902 59.9232 7.78671C59.5178 8.91592 59.3151 10.1754 59.3151 11.5652Z"
              fill="white"></path>
            <path
              d="M50.5214 16.4295C48.7697 16.4295 47.8938 15.7491 47.8938 14.3882C47.9083 14.0118 47.9734 13.5051 48.0892 12.8681L48.4801 10.8703C48.871 8.9883 49.0664 7.83738 49.0664 7.41755C49.0664 6.57789 48.8203 6.15805 48.3281 6.15805C47.5029 6.15805 46.8732 7.23659 46.4389 9.39366L45.1577 15.9952L40.7928 16.4295L43.0513 4.89856L46.6126 4.48596L46.2651 6.61408C46.9456 5.19533 48.3281 4.48596 50.4128 4.48596C51.4262 4.48596 52.1428 4.70312 52.5626 5.13743C52.9969 5.55726 53.2141 6.24491 53.2141 7.2004C53.2141 8.09797 52.9825 9.59634 52.5192 11.6955C52.302 12.6365 52.1935 13.288 52.1935 13.6499C52.1935 13.9973 52.2876 14.2724 52.4758 14.4751C52.6784 14.6778 52.9246 14.7936 53.2141 14.8225C53.0693 15.3147 52.7436 15.7056 52.2369 15.9952C51.7447 16.2847 51.1728 16.4295 50.5214 16.4295Z"
              fill="white"></path>
            <path
              d="M34.5223 15.0831C33.8274 15.9807 32.6185 16.4295 30.8958 16.4295C29.9982 16.4295 29.2237 16.1616 28.5722 15.626C27.9208 15.0759 27.595 14.4099 27.595 13.6282C27.595 13.1939 27.6167 12.8681 27.6602 12.651L29.1151 4.92027L33.5234 4.48596L31.9381 12.8681C31.8802 13.1866 31.8513 13.44 31.8513 13.6282C31.8513 14.4678 32.1046 14.8877 32.6113 14.8877C33.1759 14.8877 33.6609 14.504 34.0662 13.7368C34.1965 13.4906 34.2906 13.2083 34.3485 12.8898L35.8903 4.92027L40.1683 4.48596L38.5613 12.955C38.5179 13.1721 38.4962 13.3965 38.4962 13.6282C38.4962 13.8598 38.5613 14.1059 38.6916 14.3665C38.8219 14.6126 39.097 14.7646 39.5168 14.8225C39.43 15.17 39.2345 15.4595 38.9305 15.6911C38.2935 16.1834 37.6276 16.4295 36.9327 16.4295C36.2523 16.4295 35.7094 16.3064 35.304 16.0603C34.8987 15.8142 34.6381 15.4885 34.5223 15.0831Z"
              fill="white"></path>
            <path
              d="M21.0333 13.5413C20.2805 14.3231 19.2164 14.7139 17.8411 14.7139C16.1184 14.7139 15.076 14.0842 14.7141 12.8247C14.5983 12.4483 14.5404 12.0502 14.5404 11.6304C14.5404 11.2105 14.5838 10.7834 14.6707 10.3491L15.6913 4.92027L20.0995 4.48596L18.9052 10.8052C18.8762 10.9934 18.84 11.1888 18.7966 11.3915C18.7532 11.5942 18.7314 11.8041 18.7314 12.0212C18.7314 12.2239 18.7676 12.3976 18.84 12.5424C18.9124 12.6727 18.9993 12.7813 19.1006 12.8681C19.2743 12.984 19.5132 13.0419 19.8172 13.0419C20.1357 13.0419 20.4253 12.8537 20.6858 12.4773C20.9609 12.1009 21.1636 11.5869 21.2939 10.9355L22.4882 4.92027L26.7662 4.48596L25.1375 13.0201C24.6019 15.7997 23.7839 17.7396 22.6837 18.8399C22.1191 19.4045 21.4676 19.7954 20.7293 20.0125C20.0054 20.2442 19.173 20.36 18.232 20.36C16.7119 20.36 15.5176 20.1211 14.6489 19.6434C13.7803 19.1656 13.346 18.5286 13.346 17.7324C13.346 17.1388 13.5704 16.6683 14.0192 16.3209C14.468 15.9879 15.0398 15.8214 15.7347 15.8214C16.3427 15.8214 16.8784 15.9517 17.3417 16.2123C17.6167 16.3716 17.8194 16.5525 17.9497 16.7552C17.6167 17.0447 17.4502 17.4284 17.4502 17.9061C17.4502 18.5431 17.7398 18.8616 18.3189 18.8616C19.2743 18.8616 20.0271 17.7614 20.5773 15.5609C20.7365 14.9094 20.8885 14.2362 21.0333 13.5413Z"
              fill="white"></path>
            <path
              d="M0.0839844 15.8866L2.82013 1.66296C4.52842 1.51819 5.93268 1.4458 7.03293 1.4458C8.13319 1.4458 9.038 1.49647 9.74737 1.59781C10.4567 1.68467 11.0503 1.85116 11.528 2.09726C12.4835 2.56053 12.9613 3.42915 12.9613 4.70312C12.9613 5.44145 12.6428 6.12186 12.0058 6.74437C11.4122 7.30898 10.7897 7.65642 10.1382 7.78672C10.8331 7.90253 11.4267 8.22103 11.9189 8.7422C12.4401 9.29232 12.7007 9.99446 12.7007 10.8486C12.7007 12.499 12.0854 13.8091 10.8549 14.7791C9.62431 15.7346 7.80021 16.2123 5.38256 16.2123C3.71771 16.2123 1.95151 16.1037 0.0839844 15.8866ZM4.90482 14.6271C5.03511 14.6416 5.11473 14.6488 5.14369 14.6488H5.33913C6.52624 14.6488 7.37314 14.2579 7.87984 13.4762C8.25624 12.8681 8.44444 12.0068 8.44444 10.892C8.44444 10.2985 8.249 9.84245 7.85812 9.52395C7.48172 9.20546 6.85921 9.03174 5.99059 9.00278L4.90482 14.6271ZM9.29134 4.72484C9.29134 3.52325 8.71226 2.92245 7.55411 2.92245H7.35867C7.30076 2.92245 7.22837 2.92969 7.14151 2.94417L6.27289 7.52613H6.49005C8.35758 7.4827 9.29134 6.54894 9.29134 4.72484Z"
              fill="white"></path>
          </svg>
        </a>
      </div>
      <div class="nav-bar-right">
        <Navigation />
        <ThemeIcon />
      </div>
    </div>

    <style>
      .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .nav-bar-right {
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;
      }

      .logo {
        display: flex;
        align-items: center;
      }

      .logo-dark {
        display: none;
      }

      :global(.dark) .logo {
        display: none;
      }
      :global(.dark) .logo-dark {
        display: flex;
        align-items: center;
      }
    </style>
  </nav>
</header>
