---
import Hamburger from "./Hamburger.astro";
import Logo from "./Logo.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <nav>
    <div class="nav-bar">
      <Hamburger />
      <div class="logo-wrapper">
        <Logo />
      </div>
      <div class="nav-bar-right">
        <Navigation />
      </div>
    </div>
  </nav>
</header>

<style>
  header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    height: 64px;
    background-color: #191919;

    nav {
      display: flex;
      width: 100%;
    }
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .nav-bar-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
  }

  :global(.dark) .logo {
    display: none;
  }
  :global(.dark) .logo-dark {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 636px) {
    .nav-bar-right {
      width: 40px;
    }
    .nav-bar {
      width: 100%;
      padding-left: 20px;
      padding-right: 24px;
    }
  }

  @media (min-width: 637px) and (max-width: 1023px) {
    .nav-bar {
      width: 100%;
      padding: 0 24px;
    }
  }
</style>
