---

---

<div class="logo">
  <a href="/">
    <img src="/logo-byungsker-astro.png" alt="logo" class="logo-img" />
  </a>
</div>

<script></script>

<style>
  .logo {
    display: flex;
    align-items: center;

    .logo-img {
      height: 32px;
    }
  }

  @media screen and (max-width: 636px) {
    .logo {
      a {
        height: 24px;
      }
      .logo-img {
        height: 24px;
      }
    }
  }
</style>
