---
import "../style/global.css";
---

<div class="nav-links">
  <a href="/">
    <span>Home</span>
  </a>
  <a href="/about/">
    <span>About</span>
  </a>
  <a href="/blog/">
    <span>Blog</span>
  </a>
  <a href="/tag/">
    <span>Tags</span>
  </a>
</div>

<style>
  span {
    cursor: pointer;
  }
</style>
