---
import "../style/global.css";
---

<div class="nav-links">
  <a href="/">
    <label>Home</label>
  </a>
  <a href="/about/">
    <label>About</label>
  </a>
  <a href="/blog/">
    <label>Blog</label>
  </a>
  <a href="/tag/">
    <label>Tags</label>
  </a>
</div>

<style>
  label {
    cursor: pointer;
  }
</style>
