---
import "../style/global.css";
import Close from "./Icon/Close.astro";
---

<div class="nav-links">
  <div class="close-wrapper">
    <Close />
  </div>

  <a href="/">
    <span>Home</span>
  </a>
  <a href="/about/">
    <span>About</span>
  </a>
  <a href="/blog/">
    <span>Blog</span>
  </a>
  <a href="/tag/">
    <span>Tags</span>
  </a>
</div>

<style>
  span {
    cursor: pointer;
  }

  @media screen and (min-width: 636px) {
    .close-wrapper {
      display: none;
    }
  }
</style>
