---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div class="tag-wrapper">
  {
    tags.length > 0 ? (
      <>
        {tags.map((tag: any) => (
          <p class="tag">
            <a href={`/tag/${tag}`} data-astro-prefetch>
              {tag}
            </a>
          </p>
        ))}
      </>
    ) : (
      <div>No posts available.</div>
    )
  }
</div>

<style>
  .tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .tag {
      border-radius: 8px;
      padding: 8px 12px;
      font-size: 16px;
      background-color: #f8fcfd;

      a {
        color: #00539f;
      }
    }
  }

  /* a {
    color: #00539f;
  }

  .tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .tag {
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 16px;
    background-color: #f8fcfd;
  } */
</style>
