---
import { ClientRouter } from "astro:transitions";

import Header from "../component/Header.astro";
import Footer from "../component/Footer.astro";
import "../style/global.css";
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
  </head>
  <body>
    <Header />

    <div class="layout-body">
      <slot transition:animate="none" />
    </div>

    <Footer />
    <script>
      import "../script/menu.js";
    </script>
    <style>
      .layout-body {
        margin-top: 32px;
      }
    </style>
  </body>
</html>
